/* src/assets/main.css */
@import './base.css';

#app {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* 移除 Vue 默认的居中样式 */
@media (min-width: 1024px) {
  body {
    display: block;
  }
  #app {
    display: flex;
    padding: 0;
  }
}

a {
  text-decoration: none;
  color: var(--ae2-purple);
  transition: opacity 0.2s;
}

a:hover {
  opacity: 0.8;
}
